// #employee-portal {
//   display: none;
// }

.strong {
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  padding-bottom: 200px;
  display: flex;
  // :last-child{
  //   align-self: center;
  // }
}
button{
  width: 200px;
  text-align: center;
  background-color: lightblue;
  border: none;
  min-height: 100px;
  &:hover{
    background-color: blue;
    color: white;
  }
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li{
    display: flex;
    width: 45%;
    min-width:500px;
    max-width: 700px;
    border: 2px solid black;
    margin: 10px 0;
    height: 200px;
  }
  button {
    width: 50%;
    background-color: lightgrey;
    border: 1px solid grey;
    &:hover{
      background-color: grey;
      color: white;
    }
  }
  span{
    width: 100%;
    text-align: center;
    padding: 10px;
    line-height: 2em;
    align-self: center;
  }
}

section{
  display: flex;
  flex-direction: column;
  text-align: center;

}

#show-employee{
  align-self: center;
  margin: 20px;
  height: 100px;
  background-color: yellow;
}
