
.strong {
  font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Questrial', sans-serif;
}
body{
  padding-bottom: 200px;
  display: flex;
  color: #3a3a3a;
  margin: 0 auto;
  // :last-child{
  //   align-self: center;
  // }
}
button{
  font-family: 'Neucha', cursive;
  width: 200px;
  text-align: center;
  background-color: lightblue;
  border: none;
  min-height: 50px;
  margin: 20px;
  &:hover{
    background-color: blue;
    color: white;
  }
}
ul {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  li{
    display: flex;
    width: 45%;
    min-width:400px;
    max-width: 700px;
    border: 2px solid #c57c7c;
    margin: 10px 0;
    height: 260px;
    background-color: #f7f7f7;
  }
  .bttn{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: flex-end;
    button {
      font-family: 'Questrial', sans-serif;
      height: 50%;
      flex-basis: 50%;
      background-color: lightgrey;
      border: 1px solid grey;
      margin: 0;
      &:hover{
        background-color: grey;
        color: white;
      }
    }

  }
  span{
    width: 100%;
    text-align: center;
    line-height: 2em;
    align-self: center;
  }
}

section{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

h1{
 color: black;
 font-family: 'Zeyada', cursive;
 font-size: 80px;
}
h4{
  font-size: 25px;
}
#show-employee{
  align-self: center;
  margin: 20px;
  height: 100px;
  background-color: tomato;
}

#show-happy, #show-not-happy {
  background-color: #c57c7c;
  position: absolute;
  right: 10px;
}

select{
  padding: 10px;
}
h3{
  padding: 10px;

}

#form, #updateForm {
  border: 2px solid black;
  border-radius: 15px;
  width:80%;
  margin-left: 10%;
}

#updateForm {
  text-align: center;
  width:60%;
  margin-left: 20%;
  label{
    width: 80%;
    margin-top: 15px;
  }
  input{
    width: 80%;
    clear: both;
  }
}

.center{
  min-width: 99vw;
  margin: 0 auto;

}
